.paragraphs-item-12 {
  text-align: center;
  .field-name-field-icon-first {
    color: $color-complement-0;
  }
  .field-name-field-icon-second,
  .field-name-field-headline-second {
    color: $color-primary-4;
  }
}
