.ds-3col-stacked-fluid.node-session {
  .group-right {
    padding: 10px;
    background-color: $smoke;
    border: solid 1px #ddd;
    font-size: 0.863em;
    .field {
      margin-bottom: 1em;
    }
  }
  .group-middle {
    padding-right: 20px;
  }
}

.node-session-form {
  .field-name-field-room,
  .field-name-field-time,
  .field-name-field-status {
    background-color: $color-complement-1;
  }
  .field-name-field-room,
  .field-name-field-time {
    .form-item {
      padding: 20px;
    }
  }
}
