.l-header {
  padding: $vspace $hspace;
  color: $header_fontcolor;
  position: relative;
  background: url(../images/header-comb.jpg) center center;
  // border-top: solid 15px $color-complement-0;

  .container {
    @include container;
    position: relative;
    z-index: 3;
  }
}

.front .l-header {
  position: relative;
  padding: 5% $hspace;

  .region-header {
    text-align: center;
    padding: 20px;
  }
}
